@import '../../styles/theme/project';
.loader {
  &-root {
    position: fixed;
    z-index: 1000;
    background-color: $light;
    border-radius: 50%;

    padding: 4px;

    &--50 {
      width: 58px;
      height: 58px;
      top: calc(50% - 29px);
      left: calc(50% - 29px);
    }

    &--25 {
      width: 29px;
      height: 29px;
      top: calc(50% - 14px);
      left: calc(50% - 14px);
    }
  }

  &-spinner {
    color: $primary;
    border-width: 2px !important;

    &--50 {
      width: 50px !important;
      height: 50px !important;
    }

    &--25 {
      width: 25px !important;
      height: 25px !important;
    }
  }

  &-backdrop {
    position: absolute;
    z-index: 100;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: -50px;
  }
}
